body{
    width: 100%;
    margin: 0px;
    background-image: url('https://www.teahub.io/photos/full/361-3611543_videogame-pixel-background-animation-free-footage-hd-video.jpg');
}

header{
    text-align: center;

}
#main-display{
    width: 100%;
    min-height: 300px;
    position: fixed;
    top: 0px;
    margin: 0px;
    max-height: 450px;
    z-index: 500;
    background-color: lightgray;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    opacity: .9;
    /*  overflow: auto; */
} 

#main-display div{
    float: right;
}

#main-display #info{
    float: left;
    text-overflow: ellipsis;
    width: 60%;
}

#image-container{
    width: 40%;
    text-align: right;
    
}

#main-display div img{
    text-align: right;
    max-width: 450px;
    max-height: 250px;
    padding-right: 30px;

    /* max-height: 400px; */
}

.card h3, .card p {
    margin-left: 10px;
}

.card{
    width: 250px;
    height: 350px;
    border-color: blue;
    border-width: 5px;
    border-style: solid;
    background-color: #444;
    position: relative;
    color: #fff;
    margin: 20px 5px 10px 5px;
    float: left;
    cursor: pointer;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;

}
.card button{
    position: absolute;
    bottom: 10px;
    right: 10px;
}

#card-collection {
    margin: auto;
    width: 90%;
    top: 400px;
    position: relative;
}

.card img{
    width: 100%;
}
div#platform{
    float: left;
    clear: both;
}

.pc{
    background-image: url("https://cdn.icon-icons.com/icons2/1293/PNG/512/2363391-computer-device-mobile-phone-smartphone-windows-windows-phone_85500.png") ;
    height: 32px;
    width: 32px;
    display: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.xbox{
    background-image: url("https://cdn.icon-icons.com/icons2/1293/PNG/512/2363210-console-game-gaming-play-xbox_85516.png") ;
    height: 32px;
    width: 32px;
    display: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.ps{
    background-image: url("https://cdn.icon-icons.com/icons2/1293/PNG/512/2363399-console-game-gaming-play-playstation_85478.png") ;
    height: 32px;
    width: 32px;
    display: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.switch{
    background-image: url('https://cdn.icon-icons.com/icons2/2429/PNG/512/nintendo_logo_icon_147258.png') ;
    height: 32px;
    width: 32px;
    display: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#form-container {
    height: 200px;
    width: 350px;
    position: fixed;
    top: 420px;
    left:-320px;
    background-color: lightgrey;
    font-size: 13px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    z-index: 300;
    padding: 10px 10px 10px 30px;
}
form-container input{
    margin-bottom: 5px;
}
#form-container:hover{
    transform: translate(320px, 0px);
}
#form-container div{
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 17px;
    line-height: 26px;
    border: 2px solid;
    padding: 65px 5px;
}
#loginForm-con{
    overflow: hidden;
    padding: 10px 10px;
    height: 30px;
    width: 100px;
    position: fixed;
    right: 0px;
    top: 420px;
    background-color: white;
    z-index: 300;
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#loginForm-con button{
    text-align: left;
}
#loginForm-con:hover{
    height: 300px;
    width: 140px;
}
.login-text{
    margin-bottom: 40px;
    text-align: center;
    border: 2px solid green;
}
.fav-heart{
    position: absolute;
    bottom: 10px;
    right: 65px;
    font-size: 26px;
}
.fav-heart-on{
    background-image:url('https://cdn0.iconfinder.com/data/icons/small-n-flat/24/678087-heart-512.png') ;
}
.fav-heart-off{
    background-image:url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-heart-outline-512.png') ;
}

input[type="text"]{
    padding: 1px 2px;
    margin-bottom: 6px;
}
input{
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    /* background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59)); */
    -webkit-rtl-ordering: logical;
    cursor: pointer;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    /* border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133)); */
    border-image: initial;
}